body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("/img/login_bg.png") no-repeat center center fixed;
    background-size: cover; /* 讓圖片覆蓋整個頁面 */
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form-gap {
    height: 200px;
}

.panel {
    margin-bottom: 0; /* Remove bottom margin for better centering */
}

.panel-body {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}